body {
    height: 200vh;
}

div {
    margin-bottom: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    background-image: url ('img1');
    background-size: 100% 100%; /*a imagem nao deve se repetir*/
    border: 1px solid red;
    background-repeat: no-repeat;
    border: 15px dashes palegreen;/*serrilhada*/
    padding: 30px;
}


#padding-box {
    background-origin:padding-box ;
}
#border-box {
    background-origin:border-box ;
}
#content-box {
    background-origin:content-box ;
}
