
div {
    margin-bottom: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    border: 15px dashed palegreen;
    color: white;
    padding: 30px;
    font-size: 400px;
    font-weight: 900;
    background-color: orange;
    background-image: url ('url');
    background-blend-mode: overlay;
}


